.App {
    min-width: 100vw;
    min-height: 100vh;
    background: #f8f8f8;
    display: grid;
    place-items: center;

    .login_wrapper {
        width: 100%;
        height: 100%;
        margin-top: 40px;
        position: relative;

        .scroller {
            width: 100%;
            position: absolute;
            height: 100%;
            display: grid;
            place-items: center;
            transition: all 0.5s;

            .input_wrapper {
                position: relative;
                max-width: 332px;
                width: 100%;
                margin: 0 auto;

                input {
                    border: none;
                    outline: none;
                    padding: 10px 16px;
                    border-radius: 4px;
                    width: 100%;
                    height: 48px;
                    border: 2px solid white;
                    background: white;
                    font-size: 18px;
                    margin-bottom: 48px;
                    letter-spacing: .5px;

                    &:focus+label {
                        top: -25px;
                        left: 8px;
                        font-size: 10px;
                        color: #757575;
                    }
                }

                label {
                    position: absolute;
                    top: 14px;
                    left: 16px;
                    font-size: 15px;
                    color: #cdcdcd;
                    transition: all 0.3s ease-in-out;
                    letter-spacing: 1px;
                }

                button {
                    width: 100%;
                    height: 40px;
                    border-radius: 4px;
                    background-color: #4069ff;
                    border: none;
                    outline: none;
                    color: white;
                    font-size: 16px;
                    font-weight: bold;
                    font-family: 'Open Sans', sans-serif;
                    margin-bottom: 24px;
                    letter-spacing: .5px;
                    cursor: pointer;
                    transition: all .5s;

                    &:hover {
                        opacity: 0.7;
                    }
                }

                a#forgot {
                    color: #4069ff;
                    font-size: 14px;
                    font-weight: bold;
                    text-align: center;
                    text-decoration: none;
                    display: block;
                    width: 100%;
                }
            }
        }

        .stayRight {
            left: 100vw;
        }

        .comeCenter {
            left: 0;
        }

        .goLeft {
            left: -100vw;
        }
    }
}